 <div class="change-content">	
		<h2>Exercise Daily</h2> 
		<div class="article-content">        
			<figure>
				<img src="img/exercise.jpg" alt="Lady Exercising"/>
				<figcaption>Exercise</figcaption>
			</figure>
			<p>
			Exercise daily for at least an hour. You do not have to kill yourself from running, jogging, etc., but you should have some sort of moderate physical activity in your everyday life. If you're looking to shed a few pounds fast, do a higher-level intensity workout. For example, go on a walk at a brisk pace for an hour. Or, you can jog and set certain intervals to sprint during that hour.
			</p>
			<p>
			Make sure you're not in severe pain during your workout. Just a warning, your muscles will ache after a high intensity workout. It may be irritating, but that means your body is changing for the better. Be sure to stay hydrated, stretch, and eat foods with a decent amount of protein after each workout. The protein will help keep your muscles, not fat, rebuilding.
			</p>
			<p>
			    You don’t have to spend hours in a gym or force yourself into monotonous or painful activities you hate to experience the physical and emotional benefits of exercise. A little exercise is better than nothing. In fact, adding just modest amounts of physical activity to your weekly routine can have a profound effect on your mental and emotional health.
			</p>
		</div>
		</div>

		<hr>

		<div class="change-content">
			<h2>Eat the Right Foods and Portion Each Meal</h2> 	        
			<div class="article-content">  
				<figure>
					<img src="img/healthy-meal.jpg" alt="Healthy Meal"/>
					<figcaption>Healthy Meal</figcaption>
				</figure>
				<p>
				No matter how bad your stomach is telling you to go for candy over healthy food, try to stay away from sweets. Sugar from candy will not help you get in shape. Even if it's just a single candy bar, one will eventually lead to another. Fruits and vegetables are the best thing to eat when getting into shape. Apples, for example, do a good job at making the stomach feel full for up to 3 to 4 hours. Green vegetables such as green beans and broccoli keep the digestive system clean and running.
				</p>
				<p>
				Also, stick to lean meats like turkey and chicken. Seafood, such as, shrimp, and tilapia are also great alternatives. These foods are full of protein and healthy nutrients to help keep muscles fit and ready for workouts. In addition, be sure to portion what you eat. Having a good metabolism comes from portioning meals. 
				</p>
				<p>
				Try to plan out eating six times a day and setting smaller portions, rather than having three large meals throughout the day. This will also help you find yourself breathing smoother when working out rather than huffing and puffing for air. This is because you will have less food in your digestive system, which means more energy is used toward your exercise.
				</p>
			</div>
		</div>


		<hr>

		<div class="change-content">
			<h2>Be Sure to Get Sleep</h2>
			<div class="article-content">  	         
				<figure>
					<img src="img/sleep.jpg" alt="Woman Sleeping"/>
					<figcaption>Rest Enough</figcaption>
				</figure>
				<p>
				Even though most of us have eight-hour jobs during the day or night, it is crucial to get enough sleep to recharge the body's batteries.
				</p>
				<p> Six to eight hours of sleep will keep the body going throughout the day, but if you happen to feel tired at any point after coming home from work, by all means take a small nap before exercising. You should only nap for about a half hour. This will prevent you from staying up later in the night.
				</p>
			</div>
		</div>