<section class="portfolio-section portfolio-style">
	<h2>Portfolio</h2>

	<div class="portfolio_pictures">

		<div class="portfolio-box">					
			<figure>
				<img src="img/P1.jpg" alt="person exercising">
				<figcaption>TREADMILL</figcaption>
			</figure>					
		</div>

		<div class="portfolio-box">
			<figure>
				<img src="img/P2.jpg" alt="BATTLE ROPE">
				<figcaption>BATTLE ROPE</figcaption>
			</figure>
		</div>
		
		<div class="portfolio-box">
			<figure>
				<img src="img/P3.jpg" alt="WORKING OUT">
				<figcaption>WORKING OUT</figcaption>
			</figure>
		</div>
		
		<div class="portfolio-box">
			<figure>
				<img src="img/P4.jpg" alt="RUNNING">
				<figcaption>RUNNING</figcaption>
			</figure>
		</div>
		
		<div class="portfolio-box">
			<figure>
				<img src="img/P5.jpg" alt="CRUNCHES">
				<figcaption>CRUNCHES</figcaption>
			</figure>
		</div>
		
		<div class="portfolio-box">
			<figure>
				<img src="img/P6.jpg" alt="LIFTING DUMBBELLS">
				<figcaption>LIFTING DUMBBELLS</figcaption>
			</figure>
		</div>
		
	</div>
		
</section>